# IDE / OS
.idea/
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Env / локальные конфиги
.env
docker-compose.override.yml

# Миграции и alembic.ini — храним в репо!
# НЕ добавляй сюда app/migrations/ и alembic.ini

/logs